body{
	color:#C2C2C2;
}
#primary{
	color:#333;
}
#header {
	background: #272727;
}
#primary{
	background:#E3E3E3;
}
#header p {
	color:#2955CC;
}
div#header h2 a:hover{ 
	text-decoration:none; 
	color:#C2C2C2;
}
a {
	color:#C2C2C2;
	text-decoration:none;
}
a:hover{
	color:#E3E3E3;
	text-decoration:none;
}
* html a{
	color:#C2C2C2;
	text-decoration:none;
}
* html a:hover{
	color:#E3E3E3;
	text-decoration:none;
}
.abt-this-page{
	color:#2955CC;
}
#navigation {
	background:#000 url(blue/navigation.png) top repeat-x;
}
.abt-this-page{
	color:#2955CC;
}
.read-on{
	background:url(blue/readon.gif) 100% 60% no-repeat;
}
.read-on a {
	color:#2955CC;
}
a.silderButtonNav{
	background:#2955CC;
}
/*block items*/
ul.recent-comments li a{
	color: #fff;
}
* html ul.recent-comments li a{
	color: #C2C2C2;
}
.ancillary .sidebar{
	background: transparent url(blue/transparent_bg.png) repeat left top;
}
* html .ancillary .sidebar{
	background:none;
}
.ancillary .sidebar h2, .ancillary .sidebar h3{
	color: #2955CC;
}
.divider {
	border-bottom:1px solid #2955CC;
}
.story .details a{
	color:#272727;
}
.story .details a:hover{
	color:#2955CC;
	text-decoration:underline;
}
#primary a{
	color:#2955CC;
}
#primary a:hover{
	color:#2955CC;
	text-decoration:underline;
}
#paging a:hover {
	text-decoration:none;
}
.story .details{ border-top:1px solid #2955CC; }
h1, h2, h3{ color:#000; }
h1 a {color:#000;}
h1 a :hover{
	color:#000;
	border-bottom:dotted;
}
/*#primary h2{ color:#333; }*/

blockquote{ 
	border-left:2px solid #2955CC;
	color:#666;
}
table th{ color:#FFF; background:#333; }
table td{ color:#000; background:#EAEAEA; }
#header h2{ border-right:1px solid #2955CC; }
.comment-head .num-comments{
	color:#2955CC;
}
.secondary .featured p{
	border-bottom:1px solid #2955CC;
	border-top: 1px solid #2955CC;
}
.secondary .featured dl{
	border-bottom:1px solid #2955CC;
}
.secondary .related_post a, .secondary dd a{ 
	color:#2955CC; 
}
.secondary .related_post a:hover, .secondary dd a:hover{ 
	color:#333;
	text-decoration:underline;
}
.secondary .featured dl h3, .secondary .featured dt{
	color:#000;
}
#primary .story h2, #primary .primary h2, #primary .single-story .primary h3, .story h3, .story h3 a{
	color:#2955CC;
}
#primary.twocol-stories .story img, .single-post img {
	background: #C2C2C2;
}
#primary.twocol-stories .story a img:hover, .single-post a img:hover {
	background: #2955CC;
}
#secondary{
	border-top:1px solid #E3E3E3;
}
#secondary .details {
	color: #2955CC
}
#secondary .details a{
	color: #FFF
}
#secondary .details a:hover {
	color: #2955CC
}
.comment-head{
	border-bottom:1px solid #E3E3E3;
}
#comments .counter {
	color: #2244AA;
}
#comments .mycontent .counter {
	color: #000;
}
#comments .mycontent{
   background-color: #2244AA;
   border-left:1px solid #2244AA;
   color: #C2C2C2;
}
#comments .content{
   border-left:1px solid #2955CC;
   color:#404040;
}

ul.dates, ul.counts, ul.blogroll li ul, ul.pages, ul.sidebar li.widget ul{
	border-top:1px solid #2955CC;
}
ul.dates li, ul.counts li, ul.blogroll li ul li, ul.pages li, ul.sidebar li.widget ul li{
	border-bottom:1px solid #2955CC;
}
ul.dates .date, ul.counts .count{
	color:#404040;
}
ul.dates a, ul.counts a, ul.blogroll a, ul.pages a, ul.block li.widget ul a{
	color:#C2C2C2;
}
ul.dates a:hover, ul.dates a:hover .date, ul.counts a:hover, ul.counts a:hover .count, ul.blogroll a:hover, ul.pages a:hover, 
ul.sidebar li.widget ul a:hover{ color:#2955CC; }
#footer{ color: #C2C2C2; }
#footer a, #footer p.attributes a{
	color:#2955CC;
}
#footer a:hover, #footer p.attributes a:hover{ color:#FFF; }
.formactions input.submit:hover{ 
	border:1px solid #2955CC;
	background:#C2C2C2;
	color:#2955CC
}
/* Images */

#footer .inside{
	background:url(blue/footer.gif) 50% 0 repeat-x;
}
#search .searchimg{
	background:url(blue/search.gif) 0 0 no-repeat;
}
#searchform #s{
	color:#C2C2C2;
}
#searchform #searchsubmit{
	background:#C2C2C2;
}

.formhead {
	color:#2955CC;
}