body, #primary{
	color:#444;
}
#header, #primary{
	background:#FFF;
}
div#header h2 a:hover{ 
	text-decoration:none; 
	color:#666;
}
a:hover{
	color:#666;
	text-decoration:none;
}
* html a:hover{
	color:#666;
	text-decoration:none;
}
#secondary{
	background:#E5E5E5;
}
.abt-this-page{
	color:#333;
}
body{
	background:#E5E5E5;
}
#navigation {
	background:#000 url(white/navigation.png) top repeat-x;
	display:block;
	height:25px;
}
.ancillary{
	border-top:1px solid #D5D5D5;
	background:#E5E5E5 url(white/bg_ancillary.jpg) top repeat-x;
	padding:2em 0 2em 0;
}
/*block items*/
ul.recent-comments li a{
	color: #fff;
}
* html ul.recent-comments li a{
	color: #666;
}
.ancillary .sidebar{
	float:left;
	padding: 1%;
	width: 28%;
	margin:0 0 0 2.5%;	
	background: transparent url(white/transparent_bg.png) repeat left top;
}
* html .ancillary .sidebar{
	background:none;
}
.ancillary .sidebar h2, .ancillary .sidebar h3{
	margin:0 0 2em 0;
	color: #333;
}
.divider {
	border-bottom:1px solid #C2C2C2;
}
a, .story .details a, .story .details a:hover{
	color:#000;
}
.story .details a:hover{
	text-decoration:underline;
}
.story .details{ border-top:1px solid #7F7F7F; }

h1, h2, h3{ color:#000; }
h1 a {color:#000;}
#primary h2{ color:#333; }

blockquote{ color:#333; }

table th{ color:#FFF; background:#333; }
table td{ color:#000; background:#EAEAEA; }

#header h2{ border-right:1px solid #7F7F7F; }
.comment-head .num-comments{
	color:#000;
}
.secondary .featured p{
	border-bottom:1px solid #CCC;
	border-top: 1px solid #CCC;
}
.secondary .featured dl{
	border-bottom:1px solid #CCC;
}
.secondary .related_post a, .secondary dd a{ 
	color:#7F7F7F; 
}
.secondary .related_post a:hover, .secondary dd a:hover{ 
	color:#000; 
}
.secondary .featured dl h3, .secondary .featured dt{
	color:#333;
}
#primary .story h2, #primary .primary h2, #primary .single-story .primary h3, .story h3, .story h3 a{
	color:#333;
}
#primary.twocol-stories .story img, .single-post img {
	padding: 4px;
	border: 1px solid #ddd;
	background: #fff;
}
#primary.twocol-stories .story a img:hover, .single-post a img:hover {
	padding: 4px;
	border: 1px solid #ddd;
	background: #666;
}
#secondary{
	border-top:1px solid #E3E3E3;
}
.comment-head{
	border-bottom:1px solid #E3E3E3;
}
#comments .counter {
	position: absolute;
	top:-20px;
	right:-4px;
	font: lighter 72px 'Century Gothic', 'Lucida Grande', Arial, Helvetica, Sans-Serif;
	color: #fff;
	text-align: right;
	padding:0;
}
ul.dates, ul.counts, ul.blogroll li ul, ul.pages, ul.sidebar li.widget ul{
	border-top:1px solid #C2C2C2;
}
ul.dates li, ul.counts li, ul.blogroll li ul li, ul.pages li, ul.sidebar li.widget ul li{
	border-bottom:1px solid #C2C2C2;
}
ul.dates .date, ul.counts .count{
	color:#7A7A7A;
}
ul.dates a, ul.counts a, ul.blogroll a, ul.pages a, ul.sidebar li.widget ul a{
	color:#404040;
}
ul.dates a:hover, ul.dates a:hover .date, ul.counts a:hover, ul.counts a:hover .count, ul.blogroll a:hover, ul.pages a:hover, ul.sidebar li.widget ul a:hover{ color:#000; }

#footer{ color: #666; }
#footer a, #footer p.attributes a{
	color:#333;
}
#footer a:hover, #footer p.attributes a:hover{ color:#000; }

/* Images */

#footer .inside{
	background:url(white/footer.gif) 50% 0 repeat-x;
}
#search .searchimg{
	background:url(white/search.gif) 0 0 no-repeat;
}
#searchform #s{
	background:#fff;
	border:1px solid #333;
	margin-bottom:4px;
}
#searchform #searchsubmit{
	background:#666;
	color:#fff;
}
